.table {
    min-width: 720px;
    table-layout: fixed;
}

.modal-body .d-flex div:first-child {
    width: 5rem;
}

.modal-body .d-flex:last-child * {
    border-bottom: none !important;
}

.modal-body p,
.modal-body dl,
.modal-body ol,
.modal-body ul {
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

td:not([colspan]):not(.course) {
    padding: 0 !important;
}

div.course {
    margin: 0.5rem;
}

div.course:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--bs-border-width) var(--bs-border-style) rgba(0, 0, 0, 0.25);
}
